<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Event date</th>
      <th>Type</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr class='eventsbody'>
        <p><td><%= event.name %></td></p>
        <p><td><%= event.description %></td></p>
        <p><td><%= event.location %></td></p>
        <p><td><%= event.event_date.strftime('%m/%d/%Y')%></td></p>
        <p><td><%= event.cost_type %></td></p>
        <% if event.event_date < Time.now %>
        <p><td><%= event.active = false %></td></p>
        <% else %>
        </p><td><%= event.active = true %></td></p>
        <% end %>
        <p><td><%= link_to 'Show', event %></td></p>
        <p><td><%= link_to 'Edit', edit_event_path(event) %></td></p>
        <p><td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td></p>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<strong><p> upcoming events </p></strong>
<% @upcoming_events.each do |event| %>
  <p><%= event.name %></p>
    <p><%= event.event_date.strftime('%m/%d/%Y') %></p>
    <p><%= event.description %></p>
  <% end %>
<strong><p> past events</p></strong>
<% @previous_events.each do |event| %>
  <p><%= event.name %></p>
    <p><%= event.event_date.strftime('%m/%d/%Y') %></p>
    <p><%= event.description %></p>
  <% end %>

  <br>


<%= link_to 'New Event', new_event_path %>
