<p id="notice"><%= notice %></p>

<h1>Events</h1>
  
    <% @events.each do |event| %>
      <div class='eventsbody'>
        <div>
        <p> Name: &nbsp;&nbsp;&nbsp;&nbsp;<%= event.name %></p>
        <p>Description:&nbsp;&nbsp;&nbsp;<%= event.description %></p>
        <p>Location: &nbsp;&nbsp;&nbsp;<%= event.location %></p>
        <p>Event Date:&nbsp;&nbsp;&nbsp;<%= event.event_date.strftime('%m/%d/%Y')%></p>
        <p>Type:&nbsp;&nbsp;&nbsp;<%= event.cost_type %></p>
        <% if event.event_date < Time.now %>
        <p>Active: &nbsp;&nbsp;&nbsp;<%= event.active = false %></p>
        <% else %>
        </p>Active:&nbsp;&nbsp;&nbsp; <%= event.active = true %></p>
        <% end %>
        <p><%= link_to 'Show', event %></p>
        <p><%= link_to 'Edit', edit_event_path(event) %></p>
        <p><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
    <% end %>
      </div>
  

<br>

<strong><p> upcoming events </p></strong>
<% @upcoming_events.each do |event| %>
  <p><%= event.name %></p>
    <p><%= event.event_date.strftime('%m/%d/%Y') %></p>
    <p><%= event.description %></p>
  <% end %>
<strong><p> past events</p></strong>
<% @previous_events.each do |event| %>
  <p><%= event.name %></p>
    <p><%= event.event_date.strftime('%m/%d/%Y') %></p>
    <p><%= event.description %></p>
  <% end %>

  <br>


<%= link_to 'New Event', new_event_path %>
